@each $color, $value in $theme-colors {
  //for alert
  .alert-#{$color} {
    background-color: rgba($value, 0.12);
    color: $value;
  }
}

// @mixin scrollable($thumb: $blue, $track: $gray-100) {
//   overflow: auto;
//   //padding-right: .5rem;

//   /* width */
//   &::-webkit-scrollbar {
//     width: 6px;
//     height: 6px;
//   }

//   /* Track */
//   &::-webkit-scrollbar-track {
//     background: $track;
//     border-radius: 4px;
//   }

//   /* Handle */
//   &::-webkit-scrollbar-thumb {
//     background: rgba($thumb, 0.8);
//     border-radius: 4px;
//     // cursor: pointer;
//   }

//   /* Handle on hover */
//   &::-webkit-scrollbar-thumb:hover {
//     background: $thumb;
//     cursor: pointer;
//   }
// }
//line 47 same code

//sidebar expanded state

@mixin sidebar-expanded-state {
}

@mixin sidebar-collapsed-state {
}

@mixin scrollable($thumb: $blue-72, $track: $gray-100) {
  overflow: auto;
  //padding-right: .5rem;

  /* width */
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $track;
    border-radius: 4px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgba($thumb, 0.8);
    border-radius: 4px;
    // cursor: pointer;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $thumb;
    cursor: pointer;
  }
}

// button outline
@mixin button-outline-variant(
  $color,
  $color-hover,
  $active-background,
  $active-border
) {
  background-color: $active-background;
  color: $color;
  border-color: $active-border;

  [class^="ic-"],
  [class*=" ic-"] {
    color: $color;
  }

  &:hover {
    background-color: rgba($color, 0.16);
    color: $color;
    border-color: rgba($color, 0.16);

    [class^="ic-"],
    [class*=" ic-"] {
      color: $color-hover;
    }
  }
}

//flex
@mixin flex($display, $vert: null, $hoz: null) {
  display: $display;
  align-items: $vert;
  justify-content: $hoz;
}

//shape
@mixin circle($size, $bg: null) {
  width: $size;
  height: $size;
  background-color: $bg;
  border-radius: 50%;
}
